* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 25px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 30px;
}

::webkit-scrollbar-thumb:hover {
  background: #bbb;
}

body {
  background-color: #fff;
  color: #000;
}

.container {
  width: 100%;
  position: relative;
}

/* Starter design */
.btn {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  border: none;
  font-weight: 500;
  padding: 12px 20px;
  border-radius: 10px;
  transition: 0.4s;
}

.btn > i {
  margin-left: 10px;
}

.btn:hover {
  background: rgb(0, 201, 255);
  color: #fff;
}

i {
  font-size: 16px;
}

/* Navigation Bar */

.navbar {
  position: fixed;
  width: 100%;
  height: 90px;
  line-height: 90px;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  background-color: #fff;
  transition: 0.3s;
  z-index: 100;
}

.nav-logo {
  position: relative;
}

.nav-name {
  font-size: 30px;
  font-weight: 600;
  color: rgb(30, 159, 171);
}

.dot {
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -10px;
  right: -20px;
  font-size: 2.2em;
  color: rgb(68, 68, 68);
}

.nav-menu,
.nav-menu-list {
  display: flex;
}

.nav-menu .nav-list {
  list-style: none;
  position: relative;
}

.nav-link {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  padding-inline: 15px;
  margin-inline: 20px;
}

.nav-menu-btn {
  display: none;
}

.nav-menu-btn i {
  font-size: 28px;
  cursor: pointer;
}

.active-link {
  position: relative;
  color: rgb(110, 87, 224);
  transition: 0.3s;
}

.active-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -15px;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 5px;
  background: rgb(110, 87, 224);
  border-radius: 50%;
}

/* wrapper design */

.wrapper {
  padding-inline: 10vw;
}

/* Featured box */

.featured-box {
  position: relative;
  display: flex;
  height: 100vh;
  min-height: 700px;
}

/* Featured text box */

.featured-text {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 80vh;
  flex-direction: column;
  width: 50%;
  padding-left: 20px;
}

.featured-text-card span {
  background: rgb(192, 166, 49);
  color: #fff;
  padding: 3px 8px;
  font-size: 12px;
  border-radius: 5px;
}

.featured-name {
  font-size: 50px;
  font-weight: 600;
  color: rgb(68, 68, 68);
  margin-block: 20px;
}

.typedText {
  text-transform: capitalize;
  color: rgb(30, 159, 171);
}

.featured-text-info {
  font-size: 15px;
  margin-bottom: 30px;
  color: rgb(68, 68, 68);
}

.featured-text-btn {
  display: flex;
  gap: 20px;
}

.featured-text-btn > .hire-me {
  background: rgb(110, 87, 224);
  color: #fff;
}

.featured-text-btn > .hire-me:hover {
  background: rgb(40, 91, 212);
}

.socials {
  display: flex;
  margin-top: 5em;
  gap: 30px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.icon a {
  text-decoration: none;
  color: rgb(68, 68, 68);
}

.icon:hover a {
  color: rgb(110, 87, 224);
}

/* Featured Image */
.featured-image {
  display: flex;
  justify-content: right;
  align-content: center;
  min-height: 80vh;
  width: 50%;
}

.image {
  margin: auto 0;
  width: 380px;
  border-radius: 55% 45% 55% 45%;
  overflow: hidden;
  animation: imgFloat 7s ease-in-out infinite;
}

.image img {
  width: 380px;
  height: 380px;
  object-fit: fill;
}

@keyframes imgFloat {
  50% {
    transform: translateY(10px);
    border-radius: 45% 55% 45% 55%;
  }
}

.scroll-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  gap: 5px;
  text-decoration: none;
  color: rgb(68, 68, 68);
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

.scroll-btn i {
  font-size: 20px;
}

/* About */
.section {
  padding-block: 5em;
}
.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 50px;
}

.col {
  display: flex;
  width: 50%;
}

/* reusable css */
.top-header {
  text-align: center;
  margin-bottom: 5em;
}

.top-header h1 {
  font-weight: 600;
  color: rgb(68, 68, 68);
  margin-bottom: 10px;
}

.top-header span {
  color: #999;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  color: rgb(68, 68, 68);
  margin-bottom: 15px;
}

/* About Info */
.about-info {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-block: 30px 70px;
  padding-inline: 20px;
  background: #fff;
  box-shadow: 1px 8px 10px 2px rgba(0, 0, 0, 0.18);
  border-radius: 20px;
}

.about-info p {
  text-align: center;
  font-size: 15px;
  color: #777;
}

.about-btn .hire-me {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: rgb(110, 87, 224);
  border-radius: 30px;
}

.about-btn .hire-me:hover {
  background: rgb(40, 91, 212);
}

.hire-me a {
  text-decoration: none;
  color: #fff;
}

/* Skills box*/
.skills-box {
  margin: 10px;
}

.skills-header {
  margin-bottom: 30px;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.skills-list span {
  font-size: 14px;
  background: rgb(110, 87, 224);
  color: white;
  padding: 2px 10px;
  border-radius: 5px;
}

/* Projects box */
.project-container {
  display: grid;
  width: 100%;
  /* justify-content: space-between; */
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  flex-wrap: wrap;
}

.project-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 250px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 1px 8px 10px 2px rgba(0, 0, 0, 0.18);
  overflow: hidden;
}

.project-box > i {
  font-size: 50px;
  color: #00b5e7;
  margin-bottom: 15px;
  margin-top: 20px;
}

.project-desc {
  padding: 10px;
  margin: 10px;
  margin-top: 0px;
}
.project-desc p {
  font-size: 15px;
  color: #777;
}

.project-box::after {
  content: "";
  position: absolute;
  bottom: -100%;
  background: rgb(0, 201, 255);
  width: 100%;
  height: 100%;
  transition: 0.4s;
  z-index: 1;
}

.project-box:hover.project-box::after {
  bottom: 0;
}

.project-box:hover.project-box i,
.project-box:hover.project-box > h3,
.project-box:hover .project-desc,
.project-box:hover .project-desc p {
  color: #fff;
  z-index: 2;
}

/* Contact Box */
.contact-info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  width: 100%;
  height: 315px;
  background: rgb(0, 201, 255);
  border-radius: 10px;
  box-shadow: 1px 8px 10px 2px rgba(0, 0, 0, 0.18);
  overflow: hidden;
}

.contact-info > h2 {
  color: #fff;
  margin-bottom: 20px;
}

.contact-info > p {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  margin-block: 5px;
}

.contact-info p > i {
  font-size: 20px;
}

.contact-info::after {
  content: "";
  position: absolute;
  bottom: -100%;
  background: #fff;
  width: 100%;
  height: 100%;
  transition: 0.4s;
  z-index: 1;
}
.contact-info:hover.contact-info::after {
  bottom: 0;
}

.contact-info:hover.contact-info h2,
.contact-info:hover.contact-info p,
.contact-info:hover.contact-info i {
  color: #777;
  z-index: 2;
}

/* Contact form */
.form-control {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.form-inputs {
  display: flex;
  gap: 10px;
  width: 100%;
}

.input-field {
  width: 50%;
  height: 55px;
  background: transparent;
  border: 2px solid #aaa;
  border-radius: 10px;
  padding-inline: 20px;
  outline: none;
}

.text-area textarea {
  width: 100%;
  height: 250px;
  background: transparent;
  border: 2px splid #aaa;
  border-radius: 10px;
  padding: 15px 20px;
  outline: none;
  resize: none;
}

.form-button > .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(110, 87, 224);
  color: #fff;
}

.form-button > .btn:hover {
  background: rgb(40, 91, 212);
}

.form-button i {
  font-size: 18px;
}

/* Footer Box */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  background: #f8f8f8;
  padding-block: 40px 60px;
}
.top-footer p {
  font-size: 25px;
  font-weight: 600;
}

.middle-footer .footer-menu {
  display: flex;
}

.footer-list {
  list-style: none;
}

.footer-list a {
  position: relative;
  text-decoration: none;
  color: rgb(68, 68, 68);
  font-weight: 500;
  margin-inline: 20px;
}

.footer-list a:hover {
  color: rgb(110, 87, 224);
}

.footer-list a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3px;
  width: 0;
  background-color: rgb(110, 87, 224);
  height: 2px;
  transition: all 0.3s ease;
  transform: translate(-50%);
}

.footer-list a:hover::after {
  width: 100%;
}

.footer-anchor {
  text-decoration: none;
  color: rgb(68, 68, 68);
  font-weight: 500;
}
.footer-socials {
  display: flex;
  gap: 30px;
}

.bottom-footer {
  font-size: 14px;
  margin-top: 10px;
}

/* Media query == 1024px */
@media only screen and (max-width: 1024px) {
  .featured-text {
    padding: 0;
  }

  .image,
  .image img {
    width: 320px;
    height: 320px;
  }
}

/* Media query == 900px */
@media only screen and (max-width: 900px) {
  .nav-btn {
    display: none;
  }

  .nav-menu.responsive {
    left: 0;
  }

  .nav-menu {
    position: fixed;
    top: 80px;
    left: -100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(20px);
    width: 100%;
    min-height: 450px;
    height: 90vh;
    transition: 0.3s;
  }

  .nav-menu-list {
    flex-direction: column;
  }

  .nav-menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .featured-box {
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }

  .featured-text {
    width: 100%;
    order: 2;
    justify-content: center;
    align-content: center;
    min-height: 60vh;
  }

  .socials {
    margin-top: 2em;
  }

  .featured-image {
    order: 1;
    justify-content: center;
    min-height: 150px;
    width: 100%;
    margin-top: 65px;
  }

  .image,
  .image img {
    width: 150px;
    height: 150px;
  }

  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }

  .col {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .about-info,
  .contact-info {
    width: 100%;
  }

  .project-container {
    display: flex;
    justify-content: center;
  }

  .project-box {
    width: 80%;
  }
}

/* Media query == 540px */

@media only screen and (max-width: 540px) {
  .featurd-name {
    font-size: 40px;
  }

  .project-box {
    width: 100%;
  }

  .form-inputs {
    flex-direction: column;
  }
  .input-field {
    width: 100%;
  }
}
